::-webkit-scrollbar {
  width: 10px;
  height: 0;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
}

body ul {
  position: absolute;
  list-style: none;
  top: 0;
  margin-left: 1em;
  padding: 0.5em;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: white;
  overflow: scroll;
  max-height: 75%;
}

body ul li {
  cursor: pointer;
}

body ul li:hover {
  background-color: #ccc;
}

.container button {
  position: absolute;
  bottom: 101%;
}

.container canvas {
  width: 90vw;
  height: 80vh;
  border: 1px solid black;
}

.left {
  position: absolute;
  display: flex;
  top: -0.5em;
  bottom: -0.25em;
  right: 100.1%;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 100.5%;
  justify-content: space-between;
}
